In [1]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
stop_element = 5
for element in my_list:
    if element == stop_element:
        break
    print(element)

1
2
3
4

In [3]:
for num in range(10):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

In [4]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1, 6):
    for j in range(10):
        print(i * j, end=" ")
        if j == 9:
            print()  # Move to the next line after printing the first table
            break

0 1 2 3 4 5 6 7 8 9
0 2 4 6 8 10 12 14 16 18
0 3 6 9 12 15 18 21 24 27
0 4 8 12 16 20 24 28 32 36
0 5 10 15 20 25 30 35 40 45

In [6]:
num = 0
while num < 10:
    if num % 2 == 0:
        num += 1
        continue
    print(num)
    num += 1

1
3
5
7
9